<!DOCTYPE html>
<html>
<head>
  <title>Scan by CoLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <link href='https://fonts.googleapis.com/css?family=Catamaran:400,500,300,200' rel='stylesheet' type='text/css'>
</head>
<body>
<main class="container-fluid">
<%= yield %>
</main>
</body>
</html>
